.whatsapp-fixo{
    position: fixed;
    right: 25px;
    bottom: 25px;

    width: 60px;
    height: 60px;

    z-index: 9999;

    transition: 0.3s ease;
}

.whatsapp-fixo img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;

    box-shadow: 0 4px 15px rgba(0,0,0,0.25);
}

.whatsapp-fixo:hover{
    transform: scale(1.08);
}
