.whatsapp-fixo{
    position: fixed;
    right: 25px;
    bottom: 25px;

    width: 75px;
    height: 75px;

    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s ease;
}

.whatsapp-fixo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.whatsapp-fixo:hover{
    transform: scale(1.1);
}
